[2019-07-21 16:21] SheaBelsky opened #9 "Generate PropTypes for all files"
We currently do an inconsistent job of checking props using `PropTypes`. It would be great to have better `PropTypes` validations, to guard against component/query changes that result in unexpected behaior.

[2019-07-25 19:02] Cooperbuilt opened #17 "Broken pre-read links on lessons"
**Describe the bug**
There are broken pre-read links in our lesson pages.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://wayfair.github.io/awesome-learning/courses/Testing/intro-to-unit-testing/
2. Click on "5 great reasons for running tests"
4. See 404

**Expected behavior**
These links should open new windows to the desired link.

[2019-07-26 00:45] danieluhl commented on #17
I'm not able to reproduce this one, maybe fixed by https://github.com/wayfair/awesome-learning/pull/13

[2019-07-26 18:09] Cooperbuilt commented on #17
Looks good now via the fix in #13

[2019-07-26 18:09] #17 closed

[2019-07-28 16:17] SheaBelsky opened #21 "Meaningful unit test coverage"
We currently have some Jest unit tests, but not every unit testable file has them. If we can get more coverage on our unit tests, especially for components that are interaction heavy. The `Quiz` component is a good example of a component that could use unit tests (to guard against changing its intended behavior accidentally.)

See [this directory](https://github.com/wayfair/awesome-learning/tree/m

[2019-08-16 20:06] SheaBelsky opened #31 "Fix noisy tests"
**Describe the bug**
We have multiple unit tests that, while not returning errors, are logging to our test suite after being run. This might confuse contributors who are seeing passing tests that return with errors/warnings.

https://travis-ci.org/wayfair/awesome-learning/builds/572909100

**Expected behavior**
Tests should return nothing or an error (and fail the test.)

**Links**
https://travis-

[2019-08-22 19:59] Cooperbuilt opened #34 "Add Shared Component Documentation"
**Is your feature request related to a problem? Please describe.**
New developers looking to contribute have no clear way to understand our shared components, (things like buttons, section titles, etc).

**Describe the solution you'd like**
Any form of component documentation would be a great start. You could use Styleguidist, Storybook, etc. Whatever you think is best.

[2019-08-22 20:02] Cooperbuilt opened #35 "Add ability to return to your last lesson"
**Is your feature request related to a problem? Please describe.**
Users navigating to our site should be able to quickly return to their last visited lesson if they visited one.

**Describe the solution you'd like**
If a user has visited a lesson and clicked either the pre-reads, exercise button, or interact with the quiz, we should pop a toast when they come back to awesome learning to return to

[2019-08-22 20:05] Cooperbuilt opened #36 "Add Readme documentation"
**Is your feature request related to a problem? Please describe.**
Our readme is sparse. Future developers don't get enough information to get started developing from it as currently constituted.

**Describe the solution you'd like**
we could use more information in terms of the structure of the app, pro tips on developing in the repo, some links to relevant gatsby articles, that sort of thing.

[2019-09-21 15:40] SheaBelsky opened #41 "Mobile: Clicking in the navigation should dismiss it"
**Describe the bug**
On mobile devices, we have a mobile navigation menu. Clicking within it navigates to a new page, but the navigation itself does not dismiss. It should go away once a new page is navigated to.

**To Reproduce**
Steps to reproduce the behavior:
1. Open Awesome Learning on mobile
2. Click on the navigation
3. Click on a page

**Expected behavior**
Navigation should disappear

[2019-09-25 02:38] helloitsjoe opened #44 "Convert tests from Enzyme to React Testing Library"
**Describe the solution you'd like**
Enzyme (and related code) is removed from dependencies and replaced with RTL

**Additional context**
Discussed during Awesome Learning standup

[2019-09-25 18:13] SheaBelsky opened #46 "Move the exercises repo to this repo"
The way we originally set up our architecture was that the exercises would be in a separate code repo from the actual platform. This is a barrier to entry for new engineers, as they would need to contribute to two separate repositories. We should move everything from `awesome-learning-exercises` to be in this repo, then update lesson files accordingly.

[2019-09-25 18:14] SheaBelsky opened #47 "Investigate GitHub Actions"
GitHub Actions can do a lot of the work of Travis, without needing to use a separate platform. It would be nice to use GitHub Actions in place of Travis, as it is integrated directly into the repo.

[2019-09-26 20:35] Cooperbuilt opened #49 "Add Design Library for Shared Components"
**Is your feature request related to a problem? Please describe.**
We currently have a number of general-purpose shared components, but no documentation on them. As more developers come into the fold, it would be helpful to have a library of these components and their expected usages.

**Describe the solution you'd like**
Add either styleguidist or storybook to this repo to document the general us

[2019-09-26 20:39] Cooperbuilt opened #50 "Move all shared components to a "shared components" folder"
**Is your feature request related to a problem? Please describe.**
We should streamline this repo in terms of folder structure to make future development easier. In this case, not knowing which components are part of our "design library" could lead to replication and wheel re-invention.

**Describe the solution you'd like**
Create a "shared components" folder
Move all shared components under the s

[2019-09-27 10:51] Cooperbuilt opened #52 "Align Linting and Prettier configs"
**Describe the bug**
Our ESLint and pretter settings are currenrly misaligned, leading to linting errors after running prettier.

**To Reproduce**
1. Format files with prettier
2. Note the eslint errors that arise

**Expected behavior**
These two configs should be aligned so that running prettier eliminates formatting issues instead of creating them.

[2019-09-27 10:53] Cooperbuilt opened #53 "Add linting pre-commit hooks"
**Is your feature request related to a problem? Please describe.**
Developers should have a seamless PR experience, and the repo should always be left formatted per our standards. Developers can currently push improperly formatted code to the repo.

**Describe the solution you'd like**
Add in something like husky to make sure developers know their code is in the proper state before it moves on to

[2019-09-27 10:54] Cooperbuilt commented on #53
This issue is dependant on #52

[2019-09-27 11:02] Cooperbuilt opened #54 "Remove the "admin" folder from the static directory"
## Goal
This issue is to remove the admin folder and it's contents, which exists underneath the static directory.

This folder is a holdover from the fork of the gatsby starter and no longer serves any purpose. Its only contents are a `config.yml` that isn't used.

[2019-09-27 11:57] SheaBelsky commented on #47
Resolved in https://github.com/wayfair/awesome-learning/pull/48

[2019-09-27 11:57] #47 closed

[2019-09-27 13:05] SheaBelsky opened #56 "GitHub Actions deploy runs out of memory"
We are moving to GitHub Actions for our deploy framework, but the Gatsby deploy step runs out of memory. Some Internet research suggests this is due to the Netlify CMS package. Let's kill this, and other unused packages, just to rule out things we aren't using and decrease our overall platform size.

[2019-09-27 19:19] #54 closed

[2019-09-27 19:23] #56 closed

[2019-09-27 19:29] SheaBelsky opened #58 "Max-width CSS for the platform"
**Describe the bug**
On large resolutions, Awesome Learning stretches to the width of the monitor. We should constrain the width of the page up to a certain point (960px? Open to suggestions)

**Screenshots**
![Screen Shot 2019-09-27 at 3 29 19 PM](https://user-images.githubusercontent.com/15164473/65796815-99226900-e13b-11e9-8dac-0c7fd2992c98.png)

[2019-09-27 19:34] Cooperbuilt opened #59 "Remove `react-test-renderer` from dependencies"
## Problem
We have a small contingency of tests that use `react-test-renderer` and take snapshots of the entire output. This is bad practice and should be removed.

## Acceptance Criteria
1. Remove all tests using react-test-renderer
2. Keep track of all removed tests
3. Add a list of removed test files to #21 as a comment
4. Remove the `react-test-renderer` from our dependencies list.

[2019-09-27 20:47] leira-sanchez commented on #58
Why shouldn't it stretch the whole width?

[2019-09-27 21:17] ssamaresh commented on #49
picking this issue up.

[2019-09-27 23:45] SheaBelsky commented on #58
@leira-sanchez On larger screens, it's hard to read the content of the webpage if the content takes up everything that it can. It reduces eyestrain and the amount of real estate that a visitor needs to physically read in order to digest what's on a page.

[2019-09-28 01:05] DerekDenHartigh commented on #58
couldn't you just target the body for a set width via media query?  e.g.

CSS:
@media screen and (min-width:960px) {
    body { max-width: 960px !important; }
}

[2019-09-28 01:09] SheaBelsky commented on #58
that would be the idea. It would only take effect for larger browsers, smaller browsers who need all of the width will not be affected. I think we already have some sort of max width for our lesson page, just want to make sure it gets put on other pages as well.

[2019-09-28 01:50] Prateek93a commented on #58
Can I work on this?

[2019-09-28 01:51] Prateek93a commented on #58
Can I work on this for the Hacktoberfest contest?

[2019-09-28 17:32] SheaBelsky commented on #58
Yes, feel free to go for it @Prateek93a !

[2019-09-28 17:46] SheaBelsky opened #61 "Reduce need to import SCSS variables/mixins in every file"
For our SCSS files, we have many cases where we need to import the `variables` and `mixins` files.

[code]

This makes SCSS files harder to iterate on for the following reasons:

1. We need to know where these two files are in relation to the current SCSS file
2. If the location of the current file changes, these two imports need to be changed
3. If the location of the variables or mixins file cha

[2019-09-28 18:46] Prateek93a commented on #58
Thanks

[2019-09-28 19:54] wpalacios commented on #61
I would like to do this one.

[2019-09-28 19:59] SheaBelsky commented on #61
@wpalacios it's yours!

[2019-09-28 20:11] wpalacios commented on #61
Nice! Thanks!

[2019-09-28 20:56] SheaBelsky opened #63 "Going back to page 1 when paginating courses returns to the home page"
**Describe the bug**
If pagination is necessary for the lessons (https://wayfair.github.io/awesome-learning/courses), and a visitor tries to return to Page 1, it instead returns the visitor to the Awesome Learning home page.

**To Reproduce**
Steps to reproduce the behavior:
1. In `./config.js`, change `coursesPerPage` to 6 (or some number lower than 7)
2. `npm run develop`
3. Go to `/courses`
4.

[2019-09-28 21:09] SheaBelsky opened #64 "Create helpful 404 page"
**Is your feature request related to a problem? Please describe.**
As a visitor to the website, I get frustrated when I access a page that doesn't exist and don't get any useful information about what to do.

**Describe the solution you'd like**
A meaningful 404 page that has better design and content than our current solution. We would like to provide visitors with the following:

- A helpful mes

[2019-09-28 21:13] SheaBelsky opened #65 "The tags page replaces browser history, does not add to it"
**Describe the bug**
Clicking a link [on our tags page](https://wayfair.github.io/awesome-learning/tags) replaces the current browser location, instead of adding to browser history.

**To Reproduce**
1. Open a new browser tab (to make this bug more obvious)
2. Go to https://wayfair.github.io/awesome-learning/tags
3. Click on a link
4. Try to go back in the browser

**Expected behavior**
You should

[2019-09-28 21:17] SheaBelsky opened #66 "Address bar URLs should not be case sensitive"
**Describe the bug**
Some of our URLs in the address bar are case sensitive.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://wayfair.github.io/awesome-learning/courses/React-Hooks/intro-to-react-hooks
2. Change `React-Hooks` to `react-hooks`

**Expected behavior**
The page should still load the course for React Hooks.

**Additional context**
This probably has to do with GraphQL

[2019-09-28 21:23] SheaBelsky opened #67 "Transform markdown formatting into HTML formatting"
**Is your feature request related to a problem? Please describe.**
On our site, we write text in plain text, and we occasionally want to add formatting to some text to make it stand out. We've historically written this format using markdown, but it isn't getting meaningfully transformed into actual text formatting.

**Describe the solution you'd like**
Text formatting written in markdown should ac

[2019-09-28 21:31] wpalacios commented on #61
@SheaBelsky mate, the issue is done! I just created a pull request here: [https://github.com/wayfair/awesome-learning/pull/68](url)

Feel free to review it and approve it when you have some time.

Thanks again for giving the opportunity to contribute to your project.

Cheers and Happy Hacktober Fest!

[2019-09-28 23:33] SheaBelsky commented on #61
Just merged it in! Thank you again for contributing! I posted a bunch of other issues earlier today, so feel free to pick up any more issues if you'd like!

[2019-09-28 23:33] #61 closed

[2019-09-29 00:44] charanjit-singh commented on #64
I'd like to do it.

[2019-09-29 00:48] SheaBelsky commented on #64
@charanjit-singh It's all yours!

[2019-09-29 00:54] Vectormike commented on #64
I was just about to do it haha

[2019-09-29 02:23] Vectormike commented on #66
I will take this. But the only solution is to change all courses in page-data/courses to small letters.

[2019-09-29 02:30] SheaBelsky commented on #66
Ah, I see the file names have capital letters in them. If you need to change those to make this happen, that's fine. Ideally the query itself would be case insensitive (if that's possible with GraphQL). I'm concerned that changing the file names without supporting capital letters will break old page links, though.

[2019-09-29 02:49] Eshno commented on #66
We could change every slug to complete lower case slugs, but the issue would still persist if we were to enter the slug with any capital letter. In addition to this in case it's a bother, I'd suggest to redirect those urls with capital letters within them to their full lower case version of them.

[2019-09-29 03:32] Eshno commented on #59
Would like to take this 🙂

[2019-09-29 08:36] devevignesh commented on #67
I would like to claim this

[2019-09-29 08:41] devevignesh commented on #65
I would like to claim this

[2019-09-29 08:42] mazsam commented on #65
Can i take this issue @SheaBelsky ?

[2019-09-29 08:45] mazsam commented on #63
I will take this issue @SheaBelsky

[2019-09-29 12:44] SheaBelsky commented on #67
@devevignesh It's yours! Thank you for picking this up!

[2019-09-29 12:44] SheaBelsky commented on #65
@devevignesh I already assigned you an issue, so I'm going to assign this one to @mazsam . Thank you both for expressing interest!

[2019-09-29 12:45] SheaBelsky commented on #59
@Eshno This one is yours, thank you!

[2019-09-29 12:45] SheaBelsky commented on #63
This one is yours @mazsam !

[2019-09-29 12:51] SheaBelsky commented on #66
It looks like we could set the input data (slug) to be case insensitive to be case-insensitive before it comes into GraphQL, in addition to @Eshno  and @Vectormike 's suggestions. That way, case sensitive queries would still work, but we force the input to be lowercase before it's checked against the lesson pages. It looks like GraphQL queries are case sensitive, and there isn't a way to make it c

[2019-09-29 12:57] SheaBelsky opened #69 "Course list should always be sorted alphabetically"
**Describe the bug**
Our ordering of courses is arbitrary, and should be sorted alphabetically (ascending, A-Z).

**To Reproduce**
1. Go to https://wayfair.github.io/awesome-learning/courses/
2. Observe that the ordering of courses does not follow a meaningful pattern

**Expected behavior**
Courses should be sorted alphabetically to make it easier for visitors to find a course they are looking for

[2019-09-29 13:03] SheaBelsky opened #70 "Fix GitHub icon, remove unused icons"
**Describe the bug**
The GitHub icon is currently flipped (the tail is on the left side of the Octocat, it should be on the right side.)

**To Reproduce**
1. Go to https://wayfair.github.io/awesome-learning/
2. Look in the top-right of the browser

**Expected behavior**
The GitHub icon should display correctly

**Additional context**
<img width="275" alt="Screen Shot 2019-09-29 at 9 03 04 AM" src=

[2019-09-29 13:08] BalSharma commented on #69
Let me try it. Can I pick this up?

[2019-09-29 13:09] SheaBelsky opened #71 "Buttons on small devices do not contain all of their content"
**Describe the bug**
Buttons on smaller devices do not contain all of their content if there is a lot of it.

**To Reproduce**
1. View the Awesome Learning site on mobile (or Inspect Element and emulate a mobile device)
2. Go to https://wayfair.github.io/awesome-learning/courses/Testing/
3. Scroll to the bottom of the page

**Expected behavior**
Buttons should contain all of their contents, rather

[2019-09-29 13:09] SheaBelsky commented on #69
@BalSharma It's all yours!

[2019-09-29 13:12] SheaBelsky opened #72 "Excessive space on some pages for small devices"
**Describe the bug**
On small devices, there is an excessive amount of space between the last of the content and the actual end of the page.

**To Reproduce**
1. Go to any page on mobile (https://wayfair.github.io/awesome-learning/courses/Testing/testing-workshop/)
2. Scroll to the bottom of the page

**Expected behavior**
The end of the page should be much closer to the actual end of the page, ra

[2019-09-29 13:15] SheaBelsky opened #73 "YouTube embeds on small devices create horizontal overflow"
**Describe the bug**
On small devices, embedding any YouTube video forces the page to expand its horizontal width to be much larger than is necessary.

**To Reproduce**
1. Go to any course page on mobile (https://wayfair.github.io/awesome-learning/courses/Testing/testing-workshop/) or the How To page (https://wayfair.github.io/awesome-learning/howTo)
2. Go to the YouTube video

**Expected behavior

[2019-09-29 13:19] SheaBelsky opened #74 "Clicking on the title of a lesson should navigate to it"
**Is your feature request related to a problem? Please describe.**
As a visitor to the site, I get frustrated when clicking the title of a lesson does not navigate to it. I should not be constrained to only clicking the button below the title to navigate to a lesson.

**Describe the solution you'd like**
Clicking the title of a lesson should navigate to it, in addition to the existing behavior of

[2019-09-29 13:26] Eshno commented on #66
At the moment the only way i found to receive a full lower case URL from the client is to add `window.location.replace(window.location.href.toLowerCase());` here https://github.com/wayfair/awesome-learning/blob/master/gatsby-browser.js
This would work as a redirect.
This by itself would loop infinitely so one should add a condition such like `window.location.href.match(/[A-Z]/g)`. But probably the

[2019-09-29 13:28] sowmiyamuthuraman commented on #74
can I work on this?

[2019-09-29 14:03] SheaBelsky commented on #74
@sowmiyamuthuraman Go for it!

[2019-09-29 14:26] SheaBelsky commented on #66
We shouldn't need a redirect if we just make the input parameter to the query lowercase before anything happens. The page should still be accessible from the old link with capital letters, but it would match the GraphQL query after the names of the files (and titles of the files in `/content/courses`) are made to be lowercase.

[2019-09-29 15:00] jaysiee commented on #69
Sorry, for the confusion. I decided to work on this and I didn't see that @BalSharma decided to work on this as well. I pushed my changes anyway, feel free to pick the solution you like better (no hard feelings 😄  ).

[2019-09-29 15:14] SheaBelsky opened #77 "Update browser color for mobile devices"
**Describe the bug**
On mobile, Awesome Learning changes the color of the browser to orange. It should instead be changed to our primary color (`#2b416a`).

**To Reproduce**
1. Go to Awesome Learning on mobile (https://wayfair.github.io/awesome-learning/)

**Expected behavior**
The color of the browser should not be orange. You want to change the hex value of `theme_color` in `./gatsby-config.js`

[2019-09-29 15:16] SheaBelsky commented on #73
This can also be seen on our "How To" page: https://wayfair.github.io/awesome-learning/howTo

[2019-09-29 15:21] SheaBelsky opened #78 "Back to "course name" should not be hypethenated"
**Is your feature request related to a problem? Please describe.**
When viewing an individual lesson, going back to a course represents the name of the course with hyphens (`functions-and-scope` instead of `functions and scope`)

**Describe the solution you'd like**
The link to return to the course, from the lesson, should not have hyphens in it.

Look in the `src/components/Lesson/Lesson.js` file

[2019-09-29 15:42] YogaSakti commented on #70
can i take this issue??

[2019-09-29 15:45] SheaBelsky commented on #70
@YogaSakti It's yours! Thank you for taking it!

[2019-09-29 15:48] YogaSakti commented on #70
it's okay to wait until 1 october? because it's for hacktoberfest

[2019-09-29 15:48] SheaBelsky commented on #70
Yep, that's totally fine!

[2019-09-29 15:49] mazsam commented on #63
Thanks @SheaBelsky

[2019-09-29 15:50] mazsam commented on #77
Could you assign to me for this issue @SheaBelsky ?
Thank You.

[2019-09-29 15:51] triyasniko commented on #77
may i try solving this problem @SheaBelsky ?

[2019-09-29 16:02] deepansh946 commented on #78
@SheaBelsky I would like to work on this issue.

[2019-09-29 16:07] mazsam commented on #65
Hi @SheaBelsky, just trying step to reproduce, but can't reproduce it.
Here this demo: https://www.loom.com/share/3e498a5b21f14fd292c719c323ee821b

[2019-09-29 16:07] SheaBelsky commented on #78
@deepansh946 It's yours to work on, thank you!

[2019-09-29 16:08] SheaBelsky commented on #77
@mazsam You already have an assigned issue, so I'm going to assign this one to @triyasniko. Thank you both for your interest!

[2019-09-29 16:09] SheaBelsky commented on #65
Hmmm, that's bizarre. Might be something weird on my end. I'll try to reproduce it again, and if I can't I'll close the issue.

[2019-09-29 16:12] mazsam commented on #73
@SheaBelsky could you assign this to me ? Thank You

[2019-09-29 16:16] mazsam commented on #65
@SheaBelsky Let me know if you still find this bug, i will try fix it as far as i can.

[2019-09-29 16:19] Arnoldicus commented on #72
 Hi there. Can you assign this issue on me?

[2019-09-29 16:23] Arnoldicus commented on #71
Hi. i can take this issue too :)

[2019-09-29 16:29] SheaBelsky commented on #72
@Arnoldicus It's yours, thank you so much!

[2019-09-29 16:30] SheaBelsky commented on #73
@mazsam You already have an issue or two assigned. I'd love to see if someone else can take this issue. If you complete the work from your other issues before that happens, I'll assign this to you.

[2019-09-29 16:30] SheaBelsky commented on #71
@Arnoldicus You already have an issue or two assigned. I'd love to see if someone else can take this issue. If you complete the work from your other issues before that happens, I'll assign this to you.

[2019-09-29 17:21] deepansh946 commented on #78
@SheaBelsky One proposed solution for the link is to make it in camel case. Will it be fine?

[2019-09-29 17:45] #52 closed

[2019-09-29 17:51] Arnoldicus commented on #71
@SheaBelsky It's already done, but if you don't mind i will open pull request at 1 October :)

[2019-09-29 17:54] #46 closed

[2019-09-29 20:01] BalSharma commented on #69
I did not know that someone already working on the issue. I am sorry @jaysiee. Please go ahead @jaysiee. I have just forked it, done nothing. I am stepping out.

[2019-09-29 22:27] SheaBelsky commented on #78
What part of the link needs to be in camel case? Do you mean the text itself? The text itself is showing as all uppercase, so that should not be the issue.

[2019-09-29 22:36] SheaBelsky opened #81 "Interested in contributing to the Awesome Learning CodeSandbox exercises? Check out wayfair/awesome-learning-exercises!"
This repo is only one part of the Awesome Learning platform. There's an entirely separate repo for managing the Awesome Learning CodeSandbox exercises. These exercises are where engineers work through tasks and problems that evaluate and prove their knowledge of the concepts learned throughout the individual lessons and courses.

If you are interested in contributing to Awesome Learning Exercises

[2019-09-30 00:47] #53 closed

[2019-09-30 00:52] Cooperbuilt opened #82 "Create a shared "toast" component"
**Is your feature request related to a problem? Please describe.**
We need an intuitive piece of UI to show user interaction results. Toast notifications are known UX patterns we could use for a few use cases. For example, when a user completes a pre-read quiz.

**Describe the solution you'd like**
Build a shared, tested component that can take on multiple states given a prop. It should have 4 pos

[2019-09-30 01:20] Cooperbuilt opened #83 "Create a course carousel component for the landing page"
**Is your feature request related to a problem? Please describe.**
We list only four of our courses on our landing page, but users sould have some way of knowing all of our courses. If we include a carousel that cycles through cards of all our courses, users will be able to know what courses we have as soon as they land

**Describe the solution you'd like**
I think a stripe like this underneath th

[2019-09-30 12:31] Eshno commented on #21
The following tests will be removed [here](https://github.com/wayfair/awesome-learning/pull/84)

[code]

[2019-09-30 12:45] Eshno commented on #41
Hello! is this the navigation menu you're referring to?

<img width="248" alt="Screen Shot 2019-09-30 at 8 41 57 AM" src="https://user-images.githubusercontent.com/34465493/65879619-3230ca00-e35e-11e9-83f6-ba831c8d8390.png">

If so, I'm unable to reproduce this issue on mobile.

[2019-09-30 13:20] Cooperbuilt commented on #41
That's the one!

[2019-09-30 13:20] Cooperbuilt commented on #49
It's all yours

[2019-09-30 17:47] Cooperbuilt commented on #36
Closing unless more specific information needs to be added.

[2019-09-30 17:47] #36 closed

[2019-09-30 23:03] #44 closed

[2019-10-01 01:28] devevignesh commented on #65
@mazsam Hey, could you check the same in Chrome Canary.

[2019-10-01 02:45] Ipshu41 commented on #65
@SheaBelsky I tried to reproduce the bug but its not replacing the browser history

[2019-10-01 02:55] perceptron007 commented on #82
@Cooperbuilt Do you want the implementation in Plain JS? or HTML /CSS?

[2019-10-01 06:10] triyasniko commented on #77
i'm so sorry sir @SheaBelsky , i can't run this repo on my localcomputer..
so You can give this assignment to others

[2019-10-01 10:49] Cooperbuilt commented on #82
Hey @perceptron007, our repo is built in React, so I would prefer to see this built using React with a subtle css animation of the toast when it enters and exits the page.

Here are some css animation guidelines.

## Entering and Leaving
A toast should enter in slower than it exits out. A slower entrance draws attention to the toast, and a quick exit limits distraction.

## Animation Variables
###

[2019-10-01 10:55] #63 closed

[2019-10-01 11:12] #69 closed

[2019-10-01 11:12] Cooperbuilt commented on #69
@BalSharma please feel free to jump on another issue, or to make your own issue if you see anything we should improve. We are so appreciative of your enthusiasm!

[2019-10-01 11:13] Cooperbuilt commented on #64
@Vectormike if there are any other issues you see, or features you would like to add please feel free to open an issue or jump on one we already have, we really value your enthusiasm!

[2019-10-01 15:40] wpalacios commented on #61
Hi mate @SheaBelsky , sadly this pull request did not count for the Hacktober fest since we merged before October 1st. could you be so kind to revert the pull request so I can create a new one that counts for the Hacktober fest?

[2019-10-01 16:36] Vectormike commented on #66
So, on on-create-node file I
`if (node.frontmatter.course) {
      // console.log(JSON.stringify(node, undefined, 4));
      const slug = path.dirname(node.fileAbsolutePath);
      // console.log('@@@@@@@@@', slug);
      createNodeField({
        node,
        name: 'slug',
        value: slug
      });
    }`

Shouldn't this be creating a new slug?

[2019-10-01 17:19] Arnoldicus commented on #72
@SheaBelsky Hi! Just opened merge request for this issue

[2019-10-01 17:20] Arnoldicus commented on #71
@SheaBelsky Opened merge request for this issue :)

[2019-10-01 17:47] mazsam commented on #77
I can do it @triyasniko @SheaBelsky

[2019-10-01 18:01] mazsam commented on #77
@SheaBelsky could you update what's browser your using ? thank you!

[2019-10-01 18:23] sowmiyamuthuraman commented on #31
Can i work on this?

[2019-10-01 19:58] Cooperbuilt opened #92 "Reduce header font size on mobile"
**Describe the bug**
Our header has a wayfair logo and `Awesome Learning`. On small mobile devices, the `Awesome Learning` text is very large.

**To Reproduce**
Steps to reproduce the behavior:
1. Visit the homepage on a small mobile device

** Expected Fix**
We would prefer the header text scales with the size of the device

[2019-10-01 19:59] juansimon18 commented on #92
Hi @Cooperbuilt can i handle this :) ?

[2019-10-01 20:16] bilalbutt044 commented on #92
@Cooperbuilt can I fix this?

[2019-10-01 20:51] SheaBelsky commented on #61
@wpalacios Unfortunately reverting it would cause a host of other issues with existing PRs. You're more than welcome to pick up another issue for it to count towards Hacktoberfest!

[2019-10-01 20:54] TyLippe commented on #77
If no one is assigned this one I would love to take a swing at it!

[2019-10-01 20:57] Cooperbuilt commented on #92
Looks like it got picked up on a pr and closed by @sheabelsky. Sorry about that!

[2019-10-01 20:58] #72 closed

[2019-10-01 22:00] SheaBelsky commented on #71
Resolved by #90

[2019-10-01 22:00] #71 closed

[2019-10-02 01:36] SheaBelsky commented on #77
Resolved via #96

[2019-10-02 01:36] #77 closed

[2019-10-02 01:42] SheaBelsky commented on #31
Closed via #32

[2019-10-02 01:42] #31 closed

[2019-10-02 02:38] gemanepa commented on #82
@perceptron007 are you taking it? :P If not, I would like to develop it in React

[2019-10-02 10:48] #78 closed

[2019-10-02 15:49] SheaBelsky commented on #73
Resolved by #91

[2019-10-02 15:49] #73 closed

[2019-10-03 10:37] Cooperbuilt commented on #82
@gemanepa I'm going to assign this to you, have fun!

[2019-10-03 19:11] smcveigh941 commented on #41
Hey @Cooperbuilt , I second @Eshno comment. I am not able to reproduce this. Could you confirm if this is still an issue?

[2019-10-03 21:34] Cooperbuilt commented on #41
Not able to repro either - closing. Thanks y'all!

[2019-10-03 21:36] SheaBelsky commented on #70
Resolved by #98

[2019-10-03 21:36] #70 closed

[2019-10-03 23:04] #74 closed

[2019-10-04 02:54] saipasha commented on #64
I'd like to give it a try as well :))

[2019-10-04 08:20] lopeselio commented on #35
Hey
@Cooperbuilt  @SheaBelsky  I would like to work with you guys on this project!
Thank you and I am lookinbg forward to get started.
Best Regards
Elio

[2019-10-04 09:47] xitter commented on #83
@Cooperbuilt I would like to take this up, could you assign this to me?

[2019-10-04 10:48] Cooperbuilt commented on #66
This doc provides more info on how slugs are generated here https://www.gatsbyjs.org/packages/gatsby-source-filesystem/

Here is a guide for programmatically creating slugs from pages (which is what we are doing )
https://www.gatsbyjs.org/tutorial/part-seven/

Here's a custom slug package that might be useful
https://www.gatsbyjs.org/packages/gatsby-plugin-slug/

Hopefully these help on your quest

[2019-10-04 10:49] Cooperbuilt commented on #64
@charanjit-singh are you still working on this? We have a few other folks who are also interested.

[2019-10-04 10:55] xitter commented on #83
@Cooperbuilt The icon(name) and subtitle data in the current cards are not available on the GraphQL. IMO, these should be put on the server. What do you think?

[2019-10-05 06:18] cengizhanbasak commented on #9
I am working on it now.

[2019-10-05 07:46] StanFaas commented on #9
Ran my NodeJS script through your project and with that added missing PropTypes.

[2019-10-05 08:12] cengizhanbasak commented on #9
https://github.com/wayfair/awesome-learning/pull/101

[2019-10-05 13:51] juancarlosqr commented on #50
Hi, happy Hacktoberfest!

This is my first year, so I'm glad to participate. I would like to contribute to your project and work on this issue

I have experience with React and just a little with Gatsby.

Open to any questions and I will wait to be assigned to start working on this! Thanks

[2019-10-05 14:06] StanFaas commented on #35
First part of the implementation should be fixed by #103 .
Whenever the toast notifications are done I'll make sure the users sees their last course whenever they come back to the homepage.

[2019-10-05 18:45] SheaBelsky commented on #50
@Cooperbuilt I saw you had an open PR for this (#99). Do you plan on continuing you work for that branch?

[2019-10-05 18:46] #41 closed

[2019-10-05 18:47] SheaBelsky opened #104 "Meaningful unit test coverage - Quiz"
We have the Quiz component, which is one of our most interaction-heavy components. A well-defined unit test, using `@testing-library/react`, would benefit us to make sure the functionality of this component is guaranteed as improvements or changes to it could be made.

[2019-10-05 18:50] SheaBelsky opened #105 "Meaningful unit test coverage - Course page"
The course page (https://wayfair.github.io/awesome-learning/courses/Promises/) contains all of our lessons within a specific course. A unit test to vet the following would be great!

- All individual lessons passed to it are displayed, in addition to the relevant content as queried by GraphQL
- All tags related to this lesson are displayed under the lesson content

[2019-10-05 21:01] fernandopiniani commented on #105
I'll do it.

[2019-10-05 21:33] SheaBelsky commented on #105
@fernandopiniani It's all yours! Thank you for picking this up!

[2019-10-05 21:34] SheaBelsky commented on #58
@Prateek93a Are you still working on this issue? If not, please let me know, so that I can unassign you from this issue.

[2019-10-05 21:34] SheaBelsky commented on #59
Resolved by #84

[2019-10-05 21:34] #59 closed

[2019-10-05 21:35] SheaBelsky commented on #65
Cannot reproduce, closing!

[2019-10-05 21:35] #65 closed

[2019-10-05 21:35] SheaBelsky commented on #67
@devevignesh Are you still working on this issue? If not, please let me know, so that I can unassign you from this issue.

[2019-10-05 22:19] fernandopiniani commented on #105
Where do you prefer to put the tests files? Separated in tests directory, or in the same dir as the component file?

[2019-10-06 16:59] #35 closed

[2019-10-06 17:04] Cooperbuilt commented on #50
Im going to un-assign myself and let you take it @juancarlosqr!

[2019-10-06 17:16] rellison192 opened #106 "Meaningful unit test coverage - ContentSection"
## Problem
As part of issue #59, all snapshots tests where removed. We would now like to replace these snapshots with a more meaningful unit test.

## Acceptance Criteria

Using @testing-library/react create a test for `ContentSection.js` found in `src/components/ContentSection/`

[2019-10-06 17:22] rellison192 opened #107 "Meaningful unit test coverage - Content"
## Problem
As part of issue #59, all snapshots tests where removed. We would now like to replace these snapshots with a more meaningful unit test.

## Acceptance Criteria

Using @testing-library/react create a test for `Course.js` found in `src/components/Course/`

[2019-10-06 17:22] SheaBelsky commented on #106
@rellison192 Can you speak a little more about the acceptance criteria for this component? What kinds of unit tests are you thinking of?

[2019-10-06 17:32] #107 closed

[2019-10-06 17:42] rellison192 opened #108 "Meaningful unit test coverage - Header"
## Problem
As part of issue #59, all snapshots tests where removed. We would now like to replace these snapshots with a more meaningful unit test.

## Acceptance Criteria

Using @testing-library/react create a test for `Header.js` found in `src/components/Header/`

[2019-10-06 17:46] rellison192 commented on #106
feel free to add any details you think are missing @SheaBelsky  :)

[2019-10-06 17:47] rellison192 opened #109 "Meaningful unit test coverage - Menu"
## Problem
As part of issue #59, all snapshots tests where removed. We would now like to replace these snapshots with a more meaningful unit test.

## Acceptance Criteria

Using @testing-library/react create a test for `Menu.js` found in `src/components/Header/Menu/Menu.js`

[2019-10-06 17:52] rellison192 opened #110 "Meaningful unit test coverage - HowTo"
## Problem
As part of issue #59, all snapshots tests where removed. We would now like to replace these snapshots with a more meaningful unit test.

## Acceptance Criteria

Using @testing-library/react create a test for `HowTo.js` found in `src/components/HowTo/HowTo.js`

[2019-10-06 17:58] rellison192 opened #111 "Meaningful unit test coverage - Icon"
## Problem
As part of issue #59, all snapshots tests where removed. We would now like to replace these snapshots with a more meaningful unit test.

## Acceptance Criteria

Using @testing-library/react create a test for `Icon.js` found in `src/components/Icon/`

[2019-10-06 17:59] juancarlosqr commented on #50
Ok, great! Thanks

[2019-10-06 18:06] rellison192 opened #112 "Meaningful unit test coverage - Landing"
## Problem
As part of issue #59, all snapshots tests where removed. We would now like to replace these snapshots with a more meaningful unit test.

## Acceptance Criteria

Using @testing-library/react create a test for `Landing.js` found in `src/components/Landing/`

[2019-10-06 18:10] rellison192 opened #113 "Meaningful unit test coverage - trackCard"
## Problem
As part of issue #59, all snapshots tests where removed. We would now like to replace these snapshots with a more meaningful unit test.

## Acceptance Criteria

Using @testing-library/react create a test for `trackCard.js` found in `src/components/Landing/`

[2019-10-06 18:16] rellison192 opened #114 "Meaningful unit test coverage - Layout"
## Problem
As part of issue #59, all snapshots tests where removed. We would now like to replace these snapshots with a more meaningful unit test.

## Acceptance Criteria

Using @testing-library/react create a test for `Layout.js` found in `src/components/Layout/`

[2019-10-06 19:06] rellison192 opened #115 "Meaningful unit test coverage - Lesson"
## Problem
As part of issue #59, all snapshots tests where removed. We would now like to replace these snapshots with a more meaningful unit test.

## Acceptance Criteria

Using @testing-library/react create a test for `Lesson.js` found in `src/components/Lesson/`

[2019-10-06 19:13] shreegowtham27 commented on #58
Hai, Please check the PR [#116](https://github.com/wayfair/awesome-learning/pull/116) have made the tweak, I have added the size as 80%

[2019-10-06 19:33] rellison192 opened #117 "Meaningful unit test coverage - Link"
## Problem
As part of issue #59, all snapshots tests where removed. We would now like to replace these snapshots with a more meaningful unit test.

## Acceptance Criteria

Using @testing-library/react create a test for `Link.js` found in `src/components/Link/`

[2019-10-06 19:38] rellison192 opened #118 "Meaningful unit test coverage - Page"
## Problem
As part of issue #59, all snapshots tests where removed. We would now like to replace these snapshots with a more meaningful unit test.

## Acceptance Criteria

Using @testing-library/react create a test for `Page.js` found in `src/components/Page/`

[2019-10-06 19:43] rellison192 opened #119 "Meaningful unit test coverage - Pagination"
## Problem
As part of issue #59, all snapshots tests where removed. We would now like to replace these snapshots with a more meaningful unit test.

## Acceptance Criteria

Using @testing-library/react create a test for `Pagination.js` found in `src/components/Pagination/`

[2019-10-06 19:48] rellison192 opened #120 "Meaningful unit test coverage - Text"
## Problem
As part of issue #59, all snapshots tests where removed. We would now like to replace these snapshots with a more meaningful unit test.

## Acceptance Criteria

Using @testing-library/react create a test for `Text.js` found in `src/components/Text/`

[2019-10-06 21:59] nicolabuckhurst commented on #118
I would like to look at this issue

[2019-10-06 22:00] laura-barluzzi commented on #118
@rellison192 hey there! I'm working on this task and I have a clarification question for adding better unit tests.

I did the tests for these scenarios:

1. No props
2. props.title

But could you clarify what `children` should be? I never see it in use in the code.

[2019-10-06 22:01] laura-barluzzi commented on #118
@nicolabuckhurst ooops, I've been working on this already. Do you mind picking another component to test?

[2019-10-06 22:42] laura-barluzzi commented on #111
I worked on this task :+1:

[2019-10-06 22:45] laura-barluzzi commented on #119
I'd like to add the tests for this if nobody else is working on it.

[2019-10-06 23:56] fernandopiniani opened #123 "Link component is throwing a warning."
**Describe the bug**
When running tests with `npm run test`, I'm getting the following error:

**To Reproduce**
Steps to reproduce the behavior:
1. Run `npm run test`

**Expected behavior**
This error should not appear. I believe this is happing because the following block of code:

[code]

**Desktop (please complete the following information):**
 - OS: Ubuntu 16
 - Terminal

[2019-10-07 00:01] fernandopiniani commented on #105
Do you know why `.only` or `beforeAll` hooks are not working? I'm not used to Jest, so maybe it's just some newbie mistake, but I couldn't achieve to make them work...

[2019-10-07 00:37] rellison192 commented on #119
Awesome! Thanks for picking it up.

[2019-10-07 02:17] Prateek93a commented on #58
@SheaBelsky Sorry Sir I am not currently working on it. Kindly assign it to someone else.

[2019-10-07 02:59] fernandopiniani commented on #105
Hey, check it out. I created some tests covering Course component. Please let me know if you need anything else or if there's some mistake (I'm new to frontend testing).

[2019-10-07 04:14] paperlambda commented on #117
@rellison192 I would love to take this one

[2019-10-07 10:40] Cooperbuilt commented on #21
Im going to close this in favor of the more specific issues we now have on the board

[2019-10-07 10:40] #21 closed

[2019-10-07 10:54] Cooperbuilt commented on #83
@xitter I will open up some new issues, but this one is done. Nice work!

[2019-10-07 10:54] #83 closed

[2019-10-07 11:00] #111 closed

[2019-10-07 15:29] Eshno commented on #108
Would like to take on this one!

[2019-10-07 15:50] fernandopiniani commented on #105
I found some errors throwing when running tests. I openend an issue reporting it: https://github.com/wayfair/awesome-learning/issues/123

[2019-10-07 17:18] mattstates commented on #112
I would like to take this one.

[2019-10-07 19:19] nicolabuckhurst commented on #115
I'll try this one if noones working on it

[2019-10-07 19:20] SheaBelsky commented on #108
@Eshno It's all yours! Thank you for picking this up!

[2019-10-07 19:21] SheaBelsky commented on #112
@mattstates This one is yours, thanks for picking it up!

[2019-10-07 19:21] SheaBelsky commented on #115
@nicolabuckhurst This one's all you, thank you for picking it up!

[2019-10-07 19:22] SheaBelsky commented on #117
@paperlambda This issue's all yours, thanks for picking it up!

[2019-10-07 19:26] SheaBelsky commented on #118
@nicolabuckhurst Since @laura-barluzzi has already started on this issue and since I've already assigned you a different issue, I've assigned it to Laura.

Laura, `children` refers to the children of this React Component. For example:

[code]

The children would refer to the Courses and Pagination elements. For PropTypes, you'd want `PropTypes.node.isRequired` to indicate that a React node should

[2019-10-07 19:52] bagshik commented on #120
Hey there, I can take this one. Which cases need to be covered?

[2019-10-08 00:17] SheaBelsky commented on #120
Thanks for picking this up @bagshik ! I'm thinking tests around the following would be good:

- Font sizes are passed down and result in the appropriate class getting set
- Children to the Text component are properly mounted by the Text component

[2019-10-08 00:44] fernandopiniani commented on #123
I'll have it.

[2019-10-08 00:46] SheaBelsky commented on #120
@bagshik It looks like @Slide109 put up an MR on this issue recently. I'm going to assign them, and unassign you, but you're more than welcome to put your name on another issue!

[2019-10-08 00:51] #113 closed

[2019-10-08 07:09] sshhdaniella commented on #109
I'll take a look at this one, if that's alright?

[2019-10-08 07:20] briceyokoyama commented on #110
Can I work on this one?

[2019-10-08 08:13] bagshik commented on #114
Hey there, I can take this one. Which cases need to be covered?

[2019-10-08 12:32] juancarlosqr commented on #50
Hi @Cooperbuilt, you've got a PR!

Open to changes, comments, feedback or all of them!

[2019-10-08 13:01] juancarlosqr opened #131 "Header component is throwing a warning"
**Describe the bug**
When running tests with npm run test, I'm getting the following error:

**To Reproduce**
Steps to reproduce the behavior:
1.Run `npm run test`

**Expected behavior**
This warning should not appear

**Desktop (please complete the following information):**
 - OS: macOS
 - Version 10.14.6

**Additional context**
I tried to change the Header component to use `useStaticQuery` inste

[2019-10-08 16:36] MrTim commented on #104
I'll take this one. If nobody minds)

[2019-10-08 17:16] Lawrence4code commented on #123
I'd like to work on this, please.

[2019-10-08 17:25] rellison192 commented on #104
sounds good! I just assigned it to you.

[2019-10-08 17:27] SheaBelsky opened #132 "Remove Travis from Readme, add GitHub Actions badge"

[2019-10-08 20:02] fernandopiniani commented on #123
I'm kinda stuck on this... It seems to be related with gatsby, which is exporting a string instead of a react component. If you know how to solve it, go on.

[2019-10-10 14:10] SheaBelsky commented on #120
Closed by #121

[2019-10-10 14:10] #120 closed

[2019-10-10 14:17] SheaBelsky commented on #105
Resolved by #125

[2019-10-10 14:17] #105 closed

[2019-10-10 20:11] laura-barluzzi commented on #106
I'm happy to work on this.

[2019-10-10 21:35] laura-barluzzi commented on #106
@rellison192 @SheaBelsky since nobody claimed this issue I went ahead and worked on it and I opened a PR.

[2019-10-10 23:30] #118 closed

[2019-10-10 23:34] #119 closed

[2019-10-11 12:52] #106 closed

[2019-10-12 12:28] Cooperbuilt commented on #82
Any progress @gemanepa? If you have stopped working on this I would like to un-assign it and give a chance to someone else who may want to build this feature. Just let me know

[2019-10-12 12:31] Cooperbuilt opened #143 "Carousel is non-responsive and breaks the site on anything but a large and small screens"
**Describe the bug**
The carousel isn't responsive.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the site on a 13" laptop
2. See the carousel stretching the site width

**Acceptance Criteria**
Ensure the carousel works on all screen widths.

[2019-10-12 12:56] Cooperbuilt opened #144 "The max width wrapper broke landing page styles"
**Describe the bug**
The max-width wrapper added to the site recently has busted up the landing page.

<img width="1439" alt="Screen Shot 2019-10-12 at 8 55 00 AM" src="https://user-images.githubusercontent.com/15932239/66701777-351caa80-ecce-11e9-89db-fc8d5af9e085.png">

[2019-10-12 13:10] gemanepa commented on #82
Hi @Cooperbuilt . Between my job and college right now I'm not working on it, I was planning to do it after October 20 but if you want to reassign it to someone else, yeah go ahead and do it. If that person ends up not doing it I'll work on it at the end of the month

[2019-10-12 13:16] roh8raut commented on #143
Can i wOrk on this ?

[2019-10-12 13:37] #144 closed

[2019-10-12 20:36] #143 closed

[2019-10-14 09:25] #117 closed

[2019-10-14 09:27] #115 closed

[2019-10-14 17:33] nicolabuckhurst commented on #110
@briceyokoyama Are you working in this?

[2019-10-14 18:16] #132 closed

[2019-10-15 18:37] gemanepa commented on #82
@Cooperbuilt Is there a site or library where you would like me to get the five icons I need? Or from anywhere is just fine?

[2019-10-15 20:51] gemanepa commented on #82
@Cooperbuilt do you want the toast to close automatically after x seconds by default?

[2019-10-17 13:27] perun-01 commented on #64
i could create one. is it still open??

[2019-10-17 14:16] Cooperbuilt commented on #123
It's all yours @Lawrence4code

[2019-10-17 14:16] Cooperbuilt commented on #114
Hey @bagshik, we are leaving the coverage choices up to the contributor - whatever you think is useful coverage feel free to do that.

[2019-10-17 14:17] Cooperbuilt commented on #109
It's all yours!

[2019-10-17 14:18] Cooperbuilt commented on #82
We can open another issue if users want the toast to auto dismiss

[2019-10-17 14:19] Cooperbuilt commented on #64
Hey @perun-01 I'm going to assign it to you because we haven't heard back from the other dev.

[2019-10-17 14:20] #9 closed

[2019-10-17 17:44] perun-01 commented on #64
getting errors while performing npm run develop
![Screenshot from 2019-10-17 22-51-34](https://user-images.githubusercontent.com/43863911/67033567-b0011d80-f133-11e9-8336-720c3e5f2eb9.png)

[2019-10-18 00:11] #50 closed

[2019-10-18 00:11] #49 closed

[2019-10-18 00:12] #34 closed

[2019-10-18 13:12] #82 closed

[2019-10-19 19:12] Cooperbuilt opened #152 "Create a contribution guide with our general coding standards"
## Goal
We currently have no contribution guide for folks. We should have a contribution guide with the following:

1. Outline of our SCSS SUIT standards
2. Outline of our general testing best practices
3. Code of conduct
....anything else folks can think about.

## People
I am going to tag this to the repo maintainers.
In my opinion, we should port over the styles we abide by to this repo.
@SheaB

[2019-10-24 02:15] tsargent opened #154 "package-lock.json has merge conflict markers"
**Describe the bug**

It looks like [this PR](https://github.com/wayfair/awesome-learning/pull/150 ) brought in an unresolved merge conflict in package-lock.json

**To Reproduce**
Steps to reproduce the behavior:
see
https://github.com/wayfair/awesome-learning/pull/150/commits/bdfe7da0adbb49a12c1beb116a600cb04f6437f5

[2019-10-24 11:33] SheaBelsky commented on #154
Closed by #155

[2019-10-24 11:33] #154 closed

[2019-10-26 04:23] anuk79 commented on #110
@briceyokoyama Hey, are you working on this? If not, can I work on this? I would like to contribute to this - @nicolabuckhurst

[2019-10-29 03:34] ssamaresh opened #157 "Add Custom Theme to storybook"
Now that we have storybook implemented for the shared components, we want to build up on it and create a custom theme to improve the UI (styling) for it.

Refer: [Storybook Theming](https://storybook.js.org/docs/configurations/theming/)

This will entail creating a CSS theme (colors, typography, e.t.c) for the storybook UI.
Possibly one that can also eventually be shared with the Awesome learning

[2019-10-29 15:06] ssamaresh opened #158 "Look into Atomic Design to refactor our shared components"
## GOAL

To convert our shared components to follow the Atomic design methodology.
[Atomic Design](https://bradfrost.com/blog/post/atomic-web-design/)

We have a bunch of shared components that overlap in functionality. The goal here is to come up with appropriate components (atoms, molecules, organisms) to organize our shared components.

We should also update them on storybook

[2019-10-29 15:31] ssamaresh opened #159 "Add visual regression testing to storybook"
Visual regression testing can be a huge benefit ensuring that different layouts work for different device sizes and ensuring that stylings in your application are not breaking. It provides a great way to ensure that a component appears the way it should rather than asserting specific CSS rules, selectors, and HTML markup.
[Visual Testing Reference](https://storybook.js.org/docs/testing/automated-v

[2019-10-29 15:36] ssamaresh commented on #159
Depends on https://github.com/wayfair/awesome-learning/issues/158

[2019-11-14 01:36] helloitsjoe opened #162 "Quiz contribution missing from README"
**Description**
The README doesn't provide any information on adding or updating quiz content. Quiz content is kept in Google Drive, so as a contributor I'm not sure how to add a quiz for a new course.

[2020-01-10 04:25] SheaBelsky commented on #123
I've opened this issue on the Gatsby repo:

https://github.com/gatsbyjs/gatsby/issues/20523

[2020-01-10 14:59] sidharthachatterjee commented on #123
Thanks for opening the issue. Opened a PR to fix it for you.

❤️  from Gatsby

[2020-01-12 23:22] #123 closed

[2020-01-16 03:14] #131 closed

[2020-01-26 19:18] SheaBelsky opened #171 "Add "module" query parameter to lessons"
**Is your feature request related to a problem? Please describe.**
In https://github.com/wayfair/awesome-learning-exercises/issues/52, it was discovered that the `main` field of a `package.json` can no longer point to a test file. However, we can specify what the CodeSandbox should open to by specifying `?module=/path/to/file` in the query parameter.

**Describe the solution you'd like**
All lesso

[2020-02-14 14:37] #171 closed

[2020-03-01 22:05] SheaBelsky opened #174 "Implement brief summary for courses/lessons/content"
**Describe the solution you'd like**
When lessons and courses are linked to, we currently use their description. This is very long and gets cut off on social media platforms like Facebook, LinkedIn, and Twitter. We should have a "summary" that describes, in 110 characters or less, what the course or lesson is about.

**Describe alternatives you've considered**
We already have this wired up for des

[2020-03-03 19:29] SheaBelsky opened #175 "[Redesign] Create Global Variables in SCSS"
## Overview
https://github.com/wayfair/awesome-learning/wiki/Awesome-Learning-2020-Redesign

## Details
We want to pre-define our color variables in an SCSS file that other SCSS files in the Awesome Learning platform will consume. That way, when we refer to a color by its name, we can direct engineers to use a variable instead of referring to a color by its hex/RGB code only.

* `#2B416A` => `$pri

[2020-03-03 19:54] SheaBelsky opened #176 "[Redesign] Create Clickable Card Component"
## Overview
https://github.com/wayfair/awesome-learning/wiki/Awesome-Learning-2020-Redesign

## Details
We want to create a Clickable Card component that contains a small amount of content inside of it. See the below UI Mocks for how it should look and function.

https://www.figma.com/file/Q2AvwPeBaAZWhnP9fYNBiW/Awesome-Learning-Redesign?node-id=1%3A4

## Engineering Criteria
* This card should ta

[2020-03-03 20:04] SheaBelsky opened #177 "[Redesign] Create Base Button Component"
## Overview
https://github.com/wayfair/awesome-learning/wiki/Awesome-Learning-2020-Redesign

## Details
We want to create a Base Button (Primary and Alternate) that can be inherited by other components. This component is _only_ responsible for creating the button and tests, not for hooking it up anywhere.

https://www.figma.com/file/Q2AvwPeBaAZWhnP9fYNBiW/Awesome-Learning-Redesign?node-id=1%3A4

#

[2020-03-03 20:16] SheaBelsky opened #178 "[Redesign] Update maximum width of Navigation to stop growing at 1600px"
## Overview
https://github.com/wayfair/awesome-learning/wiki/Awesome-Learning-2020-Redesign

## Details
Currently, the content of our experience grows as wide as the resolution of the device browsing Awesome Learning. We want to put a maximum possible size on how much to grow at `1600px`.

## Engineering Criteria
* Update the below file to add a `$layout-breakpoint-xl` variable.
* https://github.c

[2020-03-03 20:19] SheaBelsky opened #179 "[Redesign] Update maximum width of Layout to stop growing at 1600px"
## Overview
https://github.com/wayfair/awesome-learning/wiki/Awesome-Learning-2020-Redesign

## Details
Currently, the content of our experience grows as wide as the resolution of the device browsing Awesome Learning. We want to put a maximum possible size on how much to grow at `1600px`.

## Engineering Criteria
* Wait until the variable in #178 is done.
* Beyond `$layout-breakpoint-xl`, the Layo

[2020-03-03 21:05] #58 closed

[2020-03-04 14:25] SheaBelsky opened #180 "[Redesign] Create "Featured Course" component"
## Overview
https://github.com/wayfair/awesome-learning/wiki/Awesome-Learning-2020-Redesign

## Details
On our new landing page, we want to showcase 3 (and only ever 3) of the "featured" courses on Awesome Learning that we want visitors to see first.

https://www.figma.com/file/Q2AvwPeBaAZWhnP9fYNBiW/Awesome-Learning-Redesign?node-id=18%3A0

## Engineering Criteria
* This ticket is dependent on #1

[2020-03-04 14:43] SheaBelsky opened #181 "[Redesign] Create Landing page UI component and template"
## Overview
https://github.com/wayfair/awesome-learning/wiki/Awesome-Learning-2020-Redesign

## Details
We need to create a UI component and template for our new landing page.

https://www.figma.com/file/Q2AvwPeBaAZWhnP9fYNBiW/Awesome-Learning-Redesign?node-id=18%3A0

## Engineering Criteria
* #180 is dependent on this ticket. The GraphQL query in this file should be written here, then passed into

[2020-03-04 16:01] SheaBelsky opened #182 "[Redesign] Update SectionTitle component"
## Overview
https://github.com/wayfair/awesome-learning/wiki/Awesome-Learning-2020-Redesign

## Details
We're changing the typography of the headings on Awesome Learning. We want to update our existing SectionTitle component to have the new styles.

https://www.figma.com/file/Q2AvwPeBaAZWhnP9fYNBiW/Awesome-Learning-Redesign?node-id=1%3A4

## Engineering Criteria
* Update the `SectionTitle` compone

[2020-03-04 17:50] SheaBelsky opened #183 "[Redesign] Add "What is Awesome Learning" and "How to get started" section to Landing"
## Overview
https://github.com/wayfair/awesome-learning/wiki/Awesome-Learning-2020-Redesign

## Details
We are updating the content of our landing page, and want to use the new information provided in the below UI mocks.

https://www.figma.com/file/Q2AvwPeBaAZWhnP9fYNBiW/Awesome-Learning-Redesign?node-id=18%3A0

## Engineering Criteria
* These are brand new sections that should be added after #181

[2020-03-04 18:00] SheaBelsky opened #184 "[Redesign] Add Primary CTA to Landing"
## Overview
https://github.com/wayfair/awesome-learning/wiki/Awesome-Learning-2020-Redesign

## Details
We have a brand new Call to Action that we want to add to our landing page.

https://www.figma.com/file/Q2AvwPeBaAZWhnP9fYNBiW/Awesome-Learning-Redesign?node-id=18%3A0

## Engineering Criteria
* This is dependent on #181 being complete.
* The "Get Started" button should link to the Course Catalo

[2020-03-04 18:22] #110 closed

[2020-03-04 18:22] #112 closed

[2020-04-17 16:12] errskipower commented on #175
I'd like to tackle this one!

[2020-04-17 16:47] errskipower commented on #175
@SheaBelsky A few questions:

1.  Does this mean to remove all `$color--XXXX` variables or to replace the hex values that are assigned to them?

2. What is the `$color--border` color? A border color isn't mentioned in the Figma file, but it's currently being used throughout the `scss`.

3. What should be done about `$color--red` and `$color--white` since they're both being used?

[2020-04-17 16:52] SheaBelsky commented on #175
Great questions @errskipower !

1. Replace the hex values that are assigned to them
2. Good callout! I think that color should be appropriate for now. Let's keep that as it is.
3. That shade of red can be left as-is, and the current white variable should also be left as-is.

[2020-04-17 16:52] ursaregina commented on #176
I can take this issue. This is crahaim @ WF.

[2020-04-22 19:38] ursaregina commented on #176
Point of clarification: the mockup shows an icon and some short text, should the component handle that content/styling or should the contents of the card be left to the user?

[2020-04-23 01:29] SheaBelsky commented on #175
Closed via #185

[2020-04-23 01:29] #175 closed

[2020-04-23 01:30] SheaBelsky commented on #176
@ursaregina I think the icon could also be a function of the card (to keep that sort of styling consistent between implementations.) It should be an optional prop that takes just the icon name; it would then be the responsibility of the card to mount the icon (and not the responsibility of an implementor/engineer to do that additional work.) Great callout!

[2020-04-24 17:06] ursaregina commented on #176
This is ready for review https://github.com/wayfair/awesome-learning/pull/186

[2020-04-30 18:21] hyerania commented on #178
I can pickup this issue.

[2020-05-02 00:28] hyerania commented on #179
I can work on this issue.

[2020-05-02 00:29] hyerania commented on #178
This is ready for review.

[2020-05-02 19:22] SheaBelsky commented on #179
@hyerania You got it!

[2020-05-03 14:53] hyerania commented on #179
This is ready for review.

[2020-05-04 17:11] chynh commented on #181
I can work on this.

[2020-05-04 17:12] SheaBelsky commented on #181
@chynh You got it, thanks!

[2020-05-06 17:31] SheaBelsky commented on #179
Closed by #190

[2020-05-06 17:31] #179 closed

[2020-05-06 17:31] SheaBelsky commented on #178
Closed by #178

[2020-05-06 17:31] #178 closed

[2020-05-06 17:31] SheaBelsky commented on #176
Closed by #186

[2020-05-06 17:31] #176 closed

[2020-05-08 14:52] ursaregina commented on #177
I can take this ticket.

[2020-05-08 22:24] SheaBelsky commented on #177
@ursaregina It's yours!

[2020-06-04 00:45] SheaBelsky commented on #181
Closed by #194 , thank you for picking this up again @chynh !

[2020-06-04 00:45] #181 closed

[2020-07-01 16:35] TomG84 commented on #182
I'll pick this one up @SheaBelsky

[2020-07-01 17:05] subhash686 commented on #177
I am interested to work on this.

[2020-07-01 17:06] ursaregina commented on #177
Given that I haven't started, I'm more than happy for you to take it- I can pick up something else when I have time.

[2020-08-20 17:58] gacurl opened #197 "Pre-work link is dead"
**Describe the bug**
A pre-work link dead-ends into GH 404 page.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://wayfair.github.io/awesome-learning/courses/Data-Types/types-and-equality'
2. Click on 'https://github.com/getify/You-Dont-Know-JS/blob/master/types%20%26%20grammar/ch1.md'
3. See error (404 page)

**Expected behavior**
I expected Chapter 1 of YDKJ to open.

**Screen

[2020-08-20 18:54] SheaBelsky commented on #197
Thank you for catching this @gacurl ! Would be able to open up a pull request to fix this issue, by any chance? If you create a fork of this repo, you can make a pull request to compare across your fork to this repo!

[2020-08-20 19:02] gacurl commented on #197
I read the contributing guide, but unsure if I met all the rules (I'm a noob). So if you'd please review, I'd be sure to update accordingly.
All the best,
Greg

[2020-09-15 21:53] xixi743 opened #201 "Broken Link for Implicit Coercion"
Within the "Data Types" course and in the lesson for "Types and Equality", the link for
Implicit Coercion by YDKJS is broken.

**To Reproduce**
To reproduce, go to [https://wayfair.github.io/awesome-learning/courses/Data-Types/types-and-equality](https://wayfair.github.io/awesome-learning/courses/Data-Types/types-and-equality) and open the pre-read material for Implicit Coercion.

**Expected behav

[2020-10-06 21:01] juancarlosqr commented on #183
Hi @SheaBelsky I would like to work on this as part of the Hacktoberfest 2020. Thanks!

[2021-02-19 18:31] shayneofficer commented on #201
Looks like this is resolved @SheaBelsky :D, the link works for me :+1:

[2021-03-19 18:18] #174 closed

[2021-03-19 18:18] #177 closed

[2021-03-19 18:18] #180 closed

[2021-03-19 18:18] #182 closed

[2021-03-19 18:18] #183 closed

[2021-03-19 18:18] #184 closed

[2021-06-15 17:39] #201 closed

[2021-06-15 17:42] #66 closed

[2021-06-15 17:43] #64 closed

[2021-10-08 14:18] c-tanner commented on #67
Submitted a PR that should address this issue :)